.text-container{
    text-align: justify;
    font-size: 23px;
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        font-size: 22px;
    }
    @media screen and (min-width: 320px) and (max-width: 767px){
        font-size: 17px;
    }
}

.container-biography{
    margin-left: auto;
    margin-right: 465px;
    text-align: justify;
    width: 95%;
    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        width: 60%;
    }
    @media screen and (min-width: 1441px){
        width: 55%;
    }
}
