.container-icons{
    width: 100%;
}

.container-grid-icons{
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    @media screen and (min-width: 1441px){
        justify-content: space-evenly;
    }
}