.userInf-container {
	position: absolute;
	top: 26%;
	left: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@media screen and (min-width: 1441px) {
		left: 31%;
	}
	@media screen and (min-width: 1024px) and (max-width: 1440px) {
		left: 26.5%;
	}
	@media screen and (min-width: 700px) and (max-width: 725px) {
		left: 8%;
	}
}
.info-text {
	margin-left: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.info-img {
	height: auto;
	border-radius: 50%;
	width: 36%;
}

// @media screen and (min-width: 320px) and (max-width: 767px) {
// 	.userInf-container {
// 		position: absolute;
// 		top: 26%;
// 		// left: 10%;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		flex-direction: column;
// 	}
// 	.info-text {
// 		// margin-left: 15px;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		flex-direction: column;
// 		text-align: center;
// 	}
// 	.info-img {
// 		height: auto;
// 		border-radius: 50%;
// 		width: 36%;
// 	}
// }
// @media screen and (min-width: 1024px) and (max-width: 1440px) {
// 	.userInf-container {
// 		position: absolute;
// 		top: 26%;
// 		left: 26.5%;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		flex-direction: column;
// 	}
// 	.info-text {
// 		margin-left: 15px;
// 		display: flex;
// 		justify-content: center;
// 		align-items: center;
// 		flex-direction: column;
// 		text-align: center;
// 	}
// 	.info-img {
// 		height: auto;
// 		border-radius: 50%;
// 		width: 36%;
// 	}
// }
