.container{
    width: 900px;
    height: 400px;
    background-color: #FAFAFA;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.biography{
    width: 60%;
    text-align: justify;
}
.biography-text{
    font-family: 'Red Hat Display', sans-serif; 
    text-align: justify;
}
.line-h{
    width: 100%;
    height: 1px;
    background-color: #B3B5CA;
}
.container-content{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.text-about{
    color: black;
    text-align: center;
}
.biography-display{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container{
    display: flex;
    justify-content: center;
    color:black;
}
[class^="icon-"],
[class*=" icon-"]{
    text-decoration: none;
    margin-top: 50px;
    margin-left: 50px;
    font-size: 30px;
    color: #727272;
}
[class^="icon-"]:hover,
[class*=" icon-"]:hover{
    transform: scale(1.1);
    transition: .200s;
    color: aquamarine;
}