.font-img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.overflow{
    Overflow: hidden;
}

.UserImg{
    width: 300px;
    height: auto;
    border-radius: 35% 0 0 35%;
}

.Center-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.User-text{
    margin-left: 20px;
}

.Header-user{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
