.content-grid{
    display: grid;
    grid-template-rows: 100vh 500px auto;
    grid-template-areas: "Header"
                         "ContentBiography"
                         "ContentPortfolio";
}

.content-grid-header{
    grid-area: Header;
    width: 100%;
    height: 100vh;
}
.content-grid-ContentBiography{
    grid-area: ContentBiography;
    // display: block;
}
// .content-grid-ContentPortfolio{
//     grid-area: ContentPortfolio;
//     display: block;
//     height: 150px;
// }